body{
    background-color: #121212;
    font-family: 'Times New Roman', Times, serif;
}
div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #161616;
    padding: 50px;
    border-radius: 15px;
}
a{
    color: #FFF;
    text-decoration: none;
}
h1{
    color: #c2c2c2;
}